:root {
  --navbar-layout-height: 96px;
}

/* KEY FRAMES */

@keyframes blobFloat {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  33% {
    transform: translate(-52%, -48%) scale(1.5) rotate(180deg);
  }
  66% {
    transform: translate(-48%, -52%) scale(1) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}

@keyframes blobFloat2 {
  0% {
    transform: translate(50%, 50%) scale(1) rotate(0deg);
  }
  33% {
    transform: translate(52%, 48%) scale(1.5) rotate(180deg);
  }
  66% {
    transform: translate(48%, 52%) scale(1) rotate(270deg);
  }
  100% {
    transform: translate(50%, 50%) scale(1) rotate(360deg);
  }
}

body {
  background: transparent;
}

.blob-bg {
  position: fixed;
  top: 16%;
  left: 10%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle at 30% 30%,
    #d16ba5c9,
    rgba(137, 43, 226, 0.865),
    rgba(0, 191, 255, 0.695),
    transparent 80%
  );
  border-radius: 50% 40% 60% 50% / 50% 60% 40% 50%;
  animation: blobFloat 30s ease-in-out infinite alternate;
  filter: blur(80px) contrast(130%) brightness(105%);
  z-index: -1000;
  pointer-events: none;
  opacity: 0.8;
}

.blob-bg-2 {
  position: fixed;
  bottom: 25%;
  right: 14%;
  width: 400px;
  height: 400px;
  transform: translate(50%, 50%);
  background: radial-gradient(
    circle at 70% 70%,
    #d16ba5c7,
    rgba(0, 191, 255, 0.857),
    rgba(137, 43, 226, 0.896),
    transparent 80%
  );
  border-radius: 60% 50% 40% 50% / 50% 40% 60% 50%;
  animation: blobFloat2 35s ease-in-out infinite;
  filter: blur(80px) contrast(130%) brightness(105%);
  z-index: -1000;
  pointer-events: none;
  opacity: 0.9;
}

.blob-bg::after,
.blob-bg-2::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/fabric-light.png');
  opacity: 1;
  pointer-events: none;
  mix-blend-mode: overlay;
}

.header-container {
  position: relative;
  top: -48px;
}

.header-illustration {
  /* height: -webkit-fill-available; */
  height: auto;
  width: 480px;
  scale: 1.7;
  filter: drop-shadow(0 20px 52px rgba(0, 0, 0, 0.5));
  /* background-color: red; */
  z-index: -100;
}

.home {
  padding: var(--navbar-layout-height) 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 2 * var(--navbar-layout-height));
}

.navbar-layout {
  position: fixed;
  width: 100vw;
  height: var(--navbar-layout-height);
  top: 0;
  left: 0;
  z-index: 10000;
}
