@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  /* Global Font */
  --global-font-family: 'Roboto Mono', monospace;

  /* Primary Colors */
  --primary-color: #6200ee;
  --primary-hover-color: #3700b3;
  --secondary-color: #bb86fc;
  --text-color-white: #ffffff;
  --text-color-light: #f7f7f7;
  --text-color-mid: #868686;
  --text-color-muted: #535353;
  --text-color-dark: #313131;
  --background-color: #fcfcfc;
  --background-dark: #121212;
  --border-color-light: #f0f0f0;
  --border-color: #ececec;
  --border-color-dark: #c4a4ff;
  --light-gray: #efefef72;
  --lightest-gray: #f5f5f5;
  --dark-gray: rgb(245, 245, 245);

  /* Status Colors */
  --status-color: #76c7c0;
  --success-color: #009b05;
  --success-color-light: rgba(0, 155, 5, 0.212);
  --warning-color: #ffd089;
  --error-color: #ff7d74;
  --info-color: #a7d7ff;
  --custom-background-color: #f0f0f0;

  /* Button */
  --button-background-color: var(--primary-color);
  --button-text-color: var(--text-color-white);
  --button-padding: 8px 16px;
  --button-border-radius: 4px;
  --button-hover-color: var(--primary-hover-color);
  --button-size-small: 5px 10px;
  --button-size-medium: 8px 16px;
  --button-size-large: 12px 24px;
  --button-transition-speed: 0.5s;

  /* Input */
  --input-padding: 8px;
  --input-border-color: var(--border-color-dark);
  --input-border-radius: 4px;
  --input-font-family: var(--global-font-family);
  --input-primary-color: var(--primary-color);
  --input-navigation-font-size: 14px;
  --input-border: 1px solid;

  /* Navigation */
  --navbar-container-height: 100%;
  --navbar-container-width: 100%;
  --navbar-font-size: 14px;
  --navbar-padding: 8px;
  --navbar-menu-width: 50%;
  --navbar-item-padding: 8px;
  --navbar-item-width: 64px;
  --navbar-item-active-color: var(--primary-hover-color);
  --navbar-image-padding: 8px;
  --navbar-underline-width: 50%;
  --navbar-underline-radius: 128px;
  --navbar-underline-active-border: 1px solid var(--primary-hover-color);
  --navbar-image-height: 24px;
  --navbar-image-width: 24px;

  /* Breadcrumbs */
  --breadcrumb-width: 75%;
  --breadcrumb-background: var(--light-gray);
  --breadcrumb-link-color: var(--primary-color);
  --breadcrumb-link-hover-color: var(--primary-hover-color);
  --breadcrumb-text-color: var(--text-color-dark);
  --breadcrumb-separator-color: #777777;
  --breadcrumb-font-family: var(--global-font-family);
  --breadcrumb-font-weight-bold: 700;
  --breadcrumb-font-weight-normal: 400;
  --breadcrumb-font-size: 10px;
  --breadcrumb-item-text-font-size: 14px;
  --breadcrumb-padding: 12px 0;
  --breadcrumb-item-id-size: 16px;
  --breadcrumb-item-id-border: 1px solid var(--text-color-dark);
  --breadcrumb-item-text-margin: 0 4px;
  --breadcrumb-item-margin: 0 10px;
  --breadcrumb-active-color: var(--success-color);

  /* Header */
  --header-one-font-size: 48px;
  --header-one-font-color: var(--primary-color);
  --header-two-font-size: 36px;
  --header-two-font-color: var(--secondary-color);
  --header-three-font-size: 28px;
  --header-three-font-color: var(--text-color-dark);
  --header-four-font-size: 20px;
  --header-four-font-color: var(--text-color-muted);
  --header-five-font-size: 16px;
  --header-five-font-color: var(--text-color-muted);
  --header-six-font-size: 14px;
  --header-six-font-color: var(--text-color-mid);

  /* Modal */
  --modal-overlay-background: rgba(0, 0, 0, 0.5);
  --modal-content-background: var(--background-color);
  --modal-content-padding: 2%;
  --modal-border-radius: var(--button-border-radius);
  --modal-max-width: 80%;
  --modal-min-width: 40%;
  --modal-close-button-size: 24px;
  --modal-close-button-hover-scale: 1.2;
  --modal-close-button-hover-rotation: 180deg;
  --modal-close-button-top: 15px;
  --modal-close-button-right: 15px;
  --modal-close-button-hover-color: var(--error-color);

  /* Accordion */
  --accordion-border-color: var(--border-color);
  --accordion-border-radius: 4px;
  --accordion-border: 2px solid;
  --accordion-box-shadow: var(--flyer-box-shadow);
  --accordion-margin: 10px;
  --accordion-header-padding: 10px;
  --accordion-header-background-color: var(--background-color);
  --accordion-header-text-color: var(--text-color-dark);
  --accordion-header-hover-color: var(--background-color);
  --accordion-transition-speed: 0.3s;
  --accordion-content-padding: 10px;
  --accordion-content-background-color: var(--background-color);
  --accordion-width: 100%;
  --accordion-height: auto;
  --accordion-rotation-angle: 225deg;
  --accordion-title-font-size: 16px;
  --accordion-font-size: 14px;
  --accordion-title-margin-right: 10px;

  /* Flyer */
  --flyer-background-color: #fff;
  --flyer-text-color: #333;
  --flyer-border-radius: 8px;
  --flyer-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --flyer-padding-vertical: 16px;
  --flyer-padding-horizontal: 24px;
  --flyer-align-items: flex-start;
  --flyer-text-align: left;
  --flyer-min-width: 300px;
  --flyer-max-width: 400px;
  --flyer-margin: 20px;
  --flyer-text-size: 14px;
  --flyer-z-index: 1000;
  --flyer-top: 20px;
  --flyer-bottom: 20px;
  --flyer-left: 20px;
  --flyer-right: 20px;
  --flyer-close-top: 10px;
  --flyer-close-right: 10px;
  --flyer-close-size: 20px;
  --flyer-close-color: #333;
  --flyer-close-hover-color: var(--error-color);
  --flyer-close-rotation: 360deg;
  --flyer-close-hover-scale: 1.2;
  --flyer-image-max-height: 200px;
  --flyer-image-fit: cover;
  --flyer-image-border-radius: 4px;
  --flyer-image-margin-bottom: 10px;
  --flyer-title-weight: bold;
  --flyer-title-margin: 8px 0;
  --flyer-description-margin: 4px 0;

  --flyer-alert-background-color: var(--error-color);
  --flyer-summary-background-color: var(--info-color);
  --flyer-warning-background-color: var(--warning-color);
  --flyer-success-background-color: var(--success-color);
  --flyer-custom-background-color: var(--custom-background-color);

  /* Wrapper Text */
  --wrapper-text-container-display: inline-block;
  --wrapper-text-char-margin: 0;
  --wrapper-text-char-display: inline-block;
  --wrapper-text-char-letter-spacing: 0;
  --wrapper-text-animation-duration: 0.5s;
  --wrapper-text-animation-ease: ease;
  --wrapper-text-hover-color: var(--secondary-color);
  --wrapper-text-animation-delay: 0.1s;
  --wrapper-text-char-glitch-duration: 1s;

  /* Avatar */
  --avatar-size: 50px;
  --avatar-text-color: var(--text-color-light);
  --avatar-bg-color: #fdfdfd;
  --avatar-padding: 4px;
  --avatar-border-color: var(--primary-color);
  --avatar-radius: 50%;
  --avatar-transition-duration: 600ms;
  --avatar-transition-timing: ease;
  --avatar-shadow-size: 0px 5px 6px;
  --avatar-shadow-color: rgba(0, 0, 0, 0.1);

  /* Card */
  --card-bg-color: var(--background-color);
  --card-text-color: var(--text-color-dark);
  --card-border-color: var(--border-color);
  --card-border-width: 2px;
  --card-border-style: solid;
  --card-padding: 16px;
  --card-border-radius: 12px;
  --card-default-shadow: var(--flyer-box-shadow);
  --card-hover-scale: 1.05;
  --card-hover-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  --card-title-font-size: var(--header-three-font-size);
  --card-title-color: var(--text-color-dark);
  --card-title-margin-bottom: var(--breadcrumb-item-margin);
  --card-slot-content-margin: var(--breadcrumb-item-margin);
  --card-slot-content-font-size: var(--breadcrumb-item-text-font-size);
  --card-slot-content-color: var(--text-color-dark);
  --card-transition-duration: var(--button-transition-speed);
  --card-width: 160px;
  --card-height: 200px;
  --card-margin: 72px;

  /* Progress Bar */
  --progress-bar-height: 20px;
  --progress-bar-bg-color: var(--background-color);
  --progress-bar-fill-color: var(--status-color);
  --progress-bar-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --progress-bar-border: var(--flyer-box-shadow);
  --progress-bar-border-radius: 4px;
  --progress-bar-shine-color: rgba(255, 255, 255, 0.4);

  /* File Uploader */
  --file-uploader-height: auto;
  --file-uploader-width: 100%;
  --file-uploader-gap: 10px;
  --file-uploader-animation-duration: 0.3s;
  --file-uploader-list-padding: 12px;
  --file-uploader-list-border: 1px solid var(--border-color-dark);
  --file-uploader-list-border-hover-color: var(--primary-color);
  --file-uploader-list-border-radius: 4px;
  --file-uploader-icon-size: 30px;
  --file-uploader-icon-margin: 10px;
  --file-uploader-item-text-margin: 0px 20px;
  --file-uploader-remove-color: var(--error-color);
  --file-uploader-remove-rotation: 180deg;
  --file-uploader-remove-scale: 1.1;

  /* Code Block */
  --code-width: 720px;
  --code-height: 720px;
  --code-bg: #1e1e1e;
  --code-color: #dcdcdc;
  --code-border-radius: 0.5rem;
  --code-font-family: 'Courier New', Courier, monospace;
  --code-font-size: 1rem;
  --code-button-size: 20px;

  /* TimeLine */
  --timeline-bar-border-radius: 4px;
  --timeline-bar-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  --timeline-bar-color: var(--primary-color);
  --timeline-bar-margin: 8px;
  --timeline-bar-min-width: 6px;
  --timeline-bar-width: 8px;

  --timeline-card-container-width: 48%;
  --timeline-content-bg-color: var(--background-color);
  --timeline-content-border-radius: 4px;
  --timeline-content-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --timeline-content-height: auto;
  --timeline-content-margin: 12px;
  --timeline-content-padding: 16px;
  --timeline-content-hover-box-shadow: 0px 6px 10px rgba(116, 0, 145, 0.267);
  --timeline-content-transition: 700ms ease;

  --timeline-date-color: var(--text-color-dark);
  --timeline-date-font-size: 10px;
  --timeline-date-font-weight: 600;
  --timeline-date-margin: 0px 8px 8px 8px;
  --timeline-date-media-width: 120px;

  --timeline-description-card-padding: 18px;
  --timeline-description-color: var(--text-color-muted);
  --timeline-description-event-font-color: var(--text-color-muted);
  --timeline-description-event-font-size: 10px;
  --timeline-description-event-padding: 0px;
  --timeline-description-font-size: 12px;
  --timeline-description-line-height: 1.5;
  --timeline-description-location-font-color: var(--secondary-color);
  --timeline-description-location-font-size: 12px;
  --timeline-description-location-padding: 4px 0px;
  --timeline-description-link-font-color: var(--primary-color);
  --timeline-description-link-font-size: 10px;
  --timeline-description-link-padding: 6px 0px;
  --timeline-description-padding: 8px 0px;
  --timeline-description-position-font-color: var(--primary-color);
  --timeline-description-position-font-size: 20px;
  --timeline-description-position-padding: 4px 0px;
  --timeline-description-font-weight: 500;
  --timeline-description-event-font-weight: 600;
  --timeline-description-location-font-weight: 700;
  --timeline-description-position-font-weight: 800;
  --timeline-description-link-font-weight: 600;

  --timeline-width: 100%;

  /* Dropdown */
  --dropdown-height: var(--navbar-item-width);
  --dropdown-width: 300px;
  --dropdown-label-width: 70%;
  --dropdown-transition-duration: var(--avatar-transition-duration);
  --dropdown-arrow-rotate-closed: 90deg;
  --dropdown-arrow-rotate-open: 270deg;
  --dropdown-bg-color: var(--background-color);
  --dropdown-border: 2px solid var(--border-color-light);
  --dropdown-border-radius: var(--button-border-radius);
  --dropdown-shadow: var(--flyer-box-shadow);
  --dropdown-text-color: var(--text-color-dark);
  --dropdown-text-color-light: var(--text-color-light);
  --dropdown-item-hover-bg-color: var(--light-gray);
  --dropdown-item-padding: 16px;
  --dropdown-item-margin: 6px;
  --dropdown-error-color: var(--error-color);
  --dropdown-success-color: var(--success-color-light);

  --dropdown-label-item-height: 16px;
  --dropdown-label-item-width: 36px;
  --dropdown-label-item-margin: 4px;
  --dropdown-label-item-padding: 8px;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(135deg, #fcfcfc, #ececec, #e4d6ff);
}

.timeline-bar-lazy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
